/* AdminDashboard.css */

h2 {
    font-size: 24px;
    
    color: #333;
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 16px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input[type="text"]:focus, textarea:focus {
    border-color: #0099cc;
    outline: none;
}

textarea {
    height: 100px;
    resize: vertical;
}

button {
    background-color: #0099cc;
    color: #fff;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #007799;
}
