.card{
display: flex;
flex-direction: column;
position: relative;
border-radius: 8px;
width: 100%;
height: 40vh;
max-width: 80%;
margin: auto;
margin-bottom: 1rem;
}


.card-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 8px;
}

.glass-effect {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35%;
    background: rgba(255, 255, 255, 0.33);
    backdrop-filter: blur(15px);
    border-radius: 8px;
    z-index: 1;
}

.card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px
}

.coffeeName {
    padding: 2%;
    font-size: 23px;
    font-weight: bolder;
    color:#1F4F5A; 
}

.coffeeReview {
    padding: 2%;
    font-size: 12px;
    font-style: normal;
    color: #241C1B; 
}

.coffeeLink {
    text-decoration: none; 
    font-size:  11px;
    color: #1F4F5A; 
    padding: 2%;
}

.coffeeLink:hover {
    text-decoration: underline; 
}

/* Estilos para tabletas */
@media (min-width: 481px) and (max-width: 768px) {
    .card {
        height: 45vh;
    }

    .coffeeName {
        font-size: 20px;
    }

    .coffeeReview {
        font-size: 10px;
    }

    .coffeeLink {
        font-size: 10px;
    }
}

/* Estilos para desktop */

@media (min-width: 769px) {
    .card {
        max-width: 80%;
        height: 50vh;
    }

    .coffeeName {
        font-size: 23px;
    }

    .coffeeReview {
        font-size: 12px;
    }

    .coffeeLink {
        font-size: 11px;
    }
}